<mat-card class="questionsOlder">
  <mat-form-field>
    <input matInput [(ngModel)]="filterTerm" (ngModelChange)="onFilterChanged()" placeholder="Search" />
  </mat-form-field>
  <mat-accordion *ngFor="let question of questions | filter:filterTerm;let idx = index">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{idx+1}}-{{question.headline}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field *ngIf="question.questionType == 'explanation'">
        <textarea matInput></textarea>
      </mat-form-field>
      <mat-radio-group *ngIf="question.questionType == 'single'">
        <mat-radio-button value="true">male</mat-radio-button><br>
        <mat-radio-button value="false">female</mat-radio-button>
      </mat-radio-group>
      <mat-radio-group *ngIf="question.questionType == 'date'">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-radio-group>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
<button mat-button (click)="addQuestion(question)">
  <i class="material-icons">
    add
  </i>
</button>
